@import url("https://fonts.googleapis.com/css?family=Bungee+Inline|Freckle+Face|Frijole|Monoton");
.input-group .form-control {
  border: 1px solid #fff; }

  @font-face {
    font-family: "SolaimanLipi";
    src: url(https://www.omicronlab.com/download/fonts/SolaimanLipi_20-04-07.ttf);
  }
  .bn{
    font-family: "SolaimanLipi" !important;
  }

header {
  padding-bottom: 25px;
  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; }

.sector {
  text-align: center;
  margin-bottom: 30px; }
  .sector .btn {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    text-transform: uppercase; }
  .sector img {
    width: 100%;
    max-width: 100px; }
  .sector h2 {
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0px; }
  .sector p {
    font-size: 14px;
    margin: 0;
    padding: 5px 0; }

.gallery-wrapper a {
  display: inline-block; }
  .gallery-wrapper a img {
    width: 190px;
    padding: 5px;
    float: left; }

#galpop-content img {
  vertical-align: top;
  width: 100%; }

.rooms ul {
  margin: 0px;
  padding: 0px; }
  .rooms ul li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-bottom: 15px;
    background: #eee;
    height: 200px; }
    .rooms ul li h3 {
      padding: 10px 0;
      margin: 0px;
      font-size: 24px; }
    .rooms ul li h4 {
      font-size: 20px;
      padding: 10px 0; }
    .rooms ul li img {
      float: left;
      margin-right: 20px;
      width: 200px;
      height: 200px; }
.sub-page{
  background: url('../images/stm.jpg') no-repeat fixed center top;
  background-size: contain;
}
.slider {
  position: relative; }
    .slider .carousel-caption .slider-cap {
      background: rgba(247, 149, 33, 0.7);
      display: inline-block;
      padding: 25px;
      margin-bottom: 30px; }
      .slider .carousel-caption .slider-cap h1 {
        font-size: 36px; }
    .slider .carousel-caption .circle {
      height: 200px;
      width: 200px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: rgba(32, 132, 188, 0.7);
      padding: 25px; }



.page-title {
  padding-top: 25px; }
  @media (max-width: 575.98px) {
    .page-title {
      padding-top: 60px; } }
  .page-title h2 {
    color: #ffffff;
    padding-top: 170px;
    padding-bottom: 100px; }

h4.update-title {
  color: #fff;
  padding: 13px 20px;
  text-transform: uppercase; }

.top-nav {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 3px 0;
  height: 28px; }
  .top-nav p {
    padding: 0;
    margin: 0;
    font-size: 13px; }
  .top-nav ul.top-menu {
    margin: 0;
    padding: 0; }
    .top-nav ul.top-menu li {
      float: left;
      list-style: none; }
      .top-nav ul.top-menu li a {
        text-decoration: none;
        color: #ffffff;
        padding: 0 10px;
        display: block;
        font-size: 13px; }
        .top-nav ul.top-menu li a:hover {
          color: #cccccc; }
        @media (max-width: 575.98px) {
          .top-nav ul.top-menu li a {
            padding: 0 5px; } }

.carousel-inner {
  text-align: center; }

.res-point {
  color: #2084bc;
  font-size: 24px;
  line-height: 24px;
  padding: 8px 10px;
  margin: 5px 10px;
  position: fixed;
  right: 0;
  z-index: 12;
  background: rgba(255, 255, 255, 0.75); }
  .res-point:hover {
    color: #ffffff; }

.is-sticky .logo img {
  width: 90px;
  -webkit-transition: ease .5s;
  transition: ease .5s; }

.is-sticky .main-nav {
  -webkit-transition: ease .5s;
  transition: ease .5s;
  height: 51px;
  background: rgba(0, 0, 0, 0.95); }
  .is-sticky .main-nav ul li a {
    padding: 15px;
    -webkit-transition: ease .5s;
    transition: ease .5s; }

.main-nav {
  -webkit-transition: ease .5s;
  transition: ease .5s;
  height: 81px;
  background: rgba(0, 0, 0, 0.5); }
  @media (max-width: 575.98px) {
    .main-nav {
      background: none;
      display: none;
      height: 100vh;
      position: fixed;
      z-index: 11;
      left: 0;
      right: 0;
      top: 0; }
      .main-nav .overly {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        height: 100vh !important;
        background: rgba(0, 0, 0, 0.5); } }
  .main-nav ul {
    margin: 0;
    padding: 0;
    float: right; }
    @media (max-width: 575.98px) {
      .main-nav ul {
        position: absolute;
        z-index: 11;
        left: 0;
        height: 100vh;
        background: #2084bc;
        min-width: 60%; } }
    .main-nav ul li {
      float: left;
      list-style: none; }
      @media (max-width: 575.98px) {
        .main-nav ul li {
          float: none;
          border-bottom: 1px solid #1b923f; } }
      .main-nav ul li a {
        text-decoration: none;
        color: #ffffff;
        padding: 30px 15px;
        display: block;
        font-size: 15px;
        text-transform: uppercase;
        -webkit-transition: ease .5s;
        transition: ease .5s; }
        @media (max-width: 575.98px) {
          .main-nav ul li a {
            padding: 15px; } }
        .main-nav ul li a:hover {
          color: #cccccc; }

.logo {
  padding: 0;
  float: left; }
  .logo a img {
    width: 140px;
    float: left;
    padding: 1px 0;
    -webkit-transition: ease .5s;
    transition: ease .5s; }
  .logo a h1 {
    width: 300px;
    display: inline-block;
    color: #ffffff;
    padding: 5px 20px;
    font-size: 36px; }
    @media (max-width: 575.98px) {
      .logo a h1 {
        width: 280px;
        display: none;
        color: #2084bc;
        padding: 12px 20px;
        font-size: 32px; } }

.kazi {
  padding-top: 50px;
  padding-bottom: 100px; }
  .kazi h2 {
    color: #ffffff;
    margin-bottom: 50px;
    text-transform: uppercase; }

.kazi-office {
  padding-top: 50px;
  padding-bottom: 100px;
  background: #eee; }
  .kazi-office h2 {
    color: #2084bc;
    margin-bottom: 50px;
    text-transform: uppercase; }

.clear-both {
  clear: both !important; }

.card {
  border: 0px !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s; }
  @media (max-width: 575.98px) {
    .card {
      margin-bottom: 50px; } }
  .card:hover {
    -webkit-transform: scale(1.025);
    -ms-transform: scale(1.025);
    transform: scale(1.025);
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    -webkit-box-shadow: 0 35px 30px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 0 35px 30px -25px rgba(0, 0, 0, 0.75); }
  .card a {
    color: #2084bc;
    text-decoration: none; }
    .card a:hover {
      text-decoration: none;
      color: #1b923f; }
  .card .fa-map-marker-alt {
    color: #2084bc; }

.link {
  position: absolute;
  left: 0;
  right: 0; }
  .link ul {
    margin: 0;
    padding: 0; }
    .link ul li {
      margin: 0;
      list-style: none;
      float: left;
      width: 25%; }
      .link ul li a {
        display: block;
        padding: 5px;
        text-align: center;
        background: #2084bc;
        color: #ffffff;
        font-size: 22px; }
        .link ul li a:hover {
          background: #1b923f;
          color: #ffffff; }

section.details-body {
  position: relative;
  top: -200px;
  margin-bottom: -140px; }
  @media (max-width: 575.98px) {
    section.details-body {
      position: relative;
      top: -100px;
      margin-bottom: -50px; } }
  section.details-body .d-n {
    display: none; }
    @media (max-width: 575.98px) {
      section.details-body .d-n {
        display: block; } }
  section.details-body .d-b {
    display: block; }
    @media (max-width: 575.98px) {
      section.details-body .d-b {
        display: none; } }
  section.details-body .profile-name {
    font-size: 28px;
    margin-top: 150px;
    color: #ffffff;
    text-shadow: 1px 1px 0px #111111; }
    @media (max-width: 575.98px) {
      section.details-body .profile-name {
        font-size: 28px;
        text-align: center;
        margin-top: 10px; } }
  section.details-body .profile-pic {
    background: #2084bc;
    padding: 15px;
    min-height: 255px; }
    section.details-body .profile-pic img {
      width: 100%; }
  section.details-body .res-subnav {
    margin-top: 50px;
    background: #c00000;
    color: #ffffff;
    display: block;
    padding: 10px 15px;
    font-size: 22px;
    cursor: pointer;
    display: none; }
    @media (max-width: 575.98px) {
      section.details-body .res-subnav {
        display: block; } }
  section.details-body .sub-nav {
    margin-top: 20px;
    background: #2084bc;
    width: 100%;
    height: 54px;
    display: block; }
    @media (max-width: 575.98px) {
      section.details-body .sub-nav {
        margin-top: 15px;
        height: auto;
        display: none; } }
    section.details-body .sub-nav ul {
      margin: 0px;
      padding: 0px;
      list-style: none; }
      section.details-body .sub-nav ul li {
        list-style: none;
        float: left; }
        @media (max-width: 575.98px) {
          section.details-body .sub-nav ul li {
            float: none;
            width: 100%; } }
        section.details-body .sub-nav ul li a {
          display: block;
          padding: 15px 20px;
          background: #2084bc;
          color: #ffffff;
          text-transform: uppercase; }
          section.details-body .sub-nav ul li a:hover {
            background: #1b923f;
            text-decoration: none; }
        section.details-body .sub-nav ul li a.active {
          background: #1b923f; }
  section.details-body .left-nav {
    background: #2084bc;
    margin-top: 30px;
    padding: 15px; }
    section.details-body .left-nav .rating {
      color: #ffffff;
      text-align: center; }
    section.details-body .left-nav .business-hr {
      color: #ffffff; }
    section.details-body .left-nav .contact-no {
      color: #ffffff;
      text-align: center;
      font-size: 22px; }
    section.details-body .left-nav .contact-info {
      color: #ffffff; }
  section.details-body .sub-body {
    border: 1px solid #2084bc;
    margin-top: 30px; }
    section.details-body .sub-body .sub-body-contant {
      background: #fff;
      padding: 15px; }

.details-page-title {
  padding: 100px 0; }

.services {
  padding: 75px 0;
  text-align: center; }
  .services .service img {
    width: 100%; }
  .services .service .over {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    margin: 15px;
    padding: 15px;
    -webkit-transition: ease .5s;
    transition: ease .5s;
    opacity: 1;
    color: #ffffff; }
    .services .service .over:hover {
      opacity: 1;
      background: rgba(0, 0, 0, 0.5);
      left: 0;
      right: 0;
      top: -15px;
      bottom: -15px; }
    .services .service .over .btn {
      -webkit-border-radius: 0;
      border-radius: 0; }
    .services .service .over h1 {
      font-size: 22px; }

section.brand-slider {
  padding: 75px 0; }
  section.brand-slider .carousel {
    width: 100%; }

.navigation {
  z-index: 1 !important; }

.testimonial {
  padding: 75px 0; }

section.main-body {
  padding: 75px 0;
  background: #eee; }

.list-body {
  padding: 50px 0;
  background: #eee; }
  .list-body .card {
    margin-bottom: 50px; }
  .list-body .filters {
    background: #ffffff;
    padding: 15px; }
    .list-body .filters h2 {
      font-size: 22px; }

.subpage-nav {
  height: 90px; }
  @media (min-width: 575.99px) {
    .subpage-nav .main-nav ul {
      margin-top: 35px; } }

.report-sec .report-btn {
  display: block;
  min-height: 80px; }
  .report-sec .report-btn ul {
    margin: 0;
    padding: 0px; }
    .report-sec .report-btn ul li {
      list-style: none;
      float: left;
      width: 50%;
      padding: 0px;
      margin: 0px; }
      .report-sec .report-btn ul li a {
        text-decoration: none;
        color: #ffffff;
        display: block;
        padding: 25px 0;
        background: #2084bc;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px; }
        .report-sec .report-btn ul li a:hover {
          background: #1b923f; }

.lost-list .lost-i {
  border-right: 0px !important; }

.filter-sec {
  padding: 30px 0;
  background: #cccccc;
  border-top: 4px solid #2084bc; }
  .filter-sec .title {
    margin-top: 40px;
    font-size: 22px; }
    @media (max-width: 575.98px) {
      .filter-sec .title {
        margin-top: 0px;
        text-align: center; } }
  .filter-sec h3 {
    font-size: 18px;
    color: #333333;
    padding: 0;
    margin: 0;
    text-transform: uppercase; }

.form-control {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  min-height: 40px !important; }

.sucscribe .btn-search {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  margin-top: 0px;
  border-radius: 0;
  height: 40px !important;
  border: 0 !important; }

.btn-search {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  border-radius: 0;
  height: 40px !important;
  border: 0 !important; }
  @media (max-width: 575.98px) {
    .btn-search {
      margin-top: 0px; } }

.logo-sub-page {
  padding: 15px 0;
  text-align: center;
  font-family: 'Frijole', cursive;
  float: left; }
  .logo-sub-page a {
    text-decoration: none;
    color: #ffffff !important;
    display: block;
    width: 120px; }
    .logo-sub-page a:hover {
      text-decoration: none; }
    .logo-sub-page a h1 {
      font-size: 65px; }
  .logo-sub-page svg {
    max-width: 120px; }
    @media (max-width: 575.98px) {
      .logo-sub-page svg {
        max-width: 200px; } }
    .logo-sub-page svg g.svg-logo {
      fill: #fff; }

.nav-tabs {
  border-bottom: 0px solid #ddd !important; }
  .nav-tabs .nav-item {
    margin: 0px !important; }
  .nav-tabs .nav-link {
    border: 0px solid transparent !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    color: #ffffff !important;
    background: rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    padding: .5rem 2rem; }
    .nav-tabs .nav-link:hover {
      background: rgba(0, 0, 0, 0.5); }
  .nav-tabs .nav-link.active {
    background: rgba(0, 0, 0, 0.5) !important; }

.search {
  text-align: center;
  padding: 25px;
  background: rgba(0, 0, 0, 0.5); }
  .search .input-group .form-control, .search .input-group .btn {
    height: 50px !important;
    border: 1px solid #555;
    background: transparent;
    color: #ffffff; }
  .search .input-group .btn {
    width: 120px; }
  .search h1 {
    text-align: left;
    font-size: 22px;
    padding-bottom: 15px;
    margin: 0px;
    text-transform: uppercase;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    color: #ffffff;
    font-weight: 100; }
    @media (max-width: 575.98px) {
      .search h1 {
        font-size: 20px;
        padding: 10px; } }
  .search a {
    background: rgba(1, 88, 155, 0.3) !important;
    display: block;
    padding: 15px;
    margin: 25px 50px;
    text-decoration: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    @media (max-width: 575.98px) {
      .search a {
        padding: 20px;
        margin: 15px 20px; } }
    .search a:hover {
      text-decoration: none;
      background: rgba(1, 88, 155, 0.3) !important;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
      .search a:hover h1 {
        background: rgba(1, 88, 155, 0.5) !important;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }
  .search .lost-search {
    padding: 15px 25px;
    margin: 25px;
    background: rgba(1, 88, 155, 0.3) !important;
    position: relative; }
    .search .lost-search h3 {
      color: #ffffff; }
    .search .lost-search:after {
      bottom: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: rgba(1, 88, 155, 0.3) !important;
      border-width: 50px;
      margin-left: -25px; }
    .search .lost-search .btn-search {
      margin-top: 45px; }

.recent-item {
  height: auto; }
  .recent-item .recent-header {
    display: block;
    min-height: 80px; }
    .recent-item .recent-header ul {
      margin: 0;
      padding: 0px; }
      .recent-item .recent-header ul li {
        list-style: none;
        float: left;
        width: 50%;
        padding: 0px;
        margin: 0px; }
        .recent-item .recent-header ul li a.alt {
          background: #1b923f; }
        .recent-item .recent-header ul li a {
          text-decoration: none;
          color: #ffffff;
          display: block;
          padding: 25px 0;
          background: #2084bc;
          text-align: center;
          text-transform: uppercase;
          font-size: 20px; }
  .recent-item .i-card {
    width: 100%;
    background: #1b923f;
    position: relative;
    color: #ffffff;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    .recent-item .i-card .i-card-img {
      height: 200px;
      width: 100%;
      overflow: hidden; }
      .recent-item .i-card .i-card-img img {
        height: 200px; }
    .recent-item .i-card .hh {
      display: none;
      font-size: 12px;
      font-weight: bold;
      color: #cccccc; }
    .recent-item .i-card .i-card-body {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
      .recent-item .i-card .i-card-body a.i-text {
        padding: 10px;
        text-decoration: none;
        display: block;
        color: #ffffff; }
        .recent-item .i-card .i-card-body a.i-text:hover {
          text-decoration: none;
          color: #ffffff; }
      .recent-item .i-card .i-card-body p {
        display: inline;
        font-size: 13px; }
    .recent-item .i-card .lost-bg {
      background: rgba(3, 168, 244, 0.3) !important; }
      .recent-item .i-card .lost-bg:hover {
        background: rgba(3, 168, 244, 0.7) !important; }
    .recent-item .i-card .found-bg {
      background: rgba(1, 88, 155, 0.3) !important; }
      .recent-item .i-card .found-bg:hover {
        background: rgba(1, 88, 155, 0.7) !important; }
    .recent-item .i-card:hover .hh {
      display: block; }
    .recent-item .i-card:hover .i-card-body {
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
  .recent-item .recent-i {
    width: 50%;
    float: left;
    margin: 25px 0; }
  .recent-item .lost-i {
    border-right: 1px solid #1b923f;
    padding: 0 15px; }
  .recent-item .found-i {
    padding: 0 15px; }

.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 100px;
  display: none;
  text-indent: -9999px;
  background: #111111;
  padding: 8px;
  opacity: .7; }
  @media (max-width: 575.98px) {
    .scrollup {
      bottom: 30px;
      right: 30px; } }

.details-sec {
  margin: 50px 0; }
  .details-sec .title {
    color: #333333;
    font-size: 28px; }
    .details-sec .title span {
      color: #cccccc;
      text-transform: uppercase; }
  .details-sec .cate {
    color: #cccccc;
    font-size: 14px; }
  .details-sec .details dt {
    color: #cccccc;
    text-transform: uppercase; }
  .details-sec .desc span {
    color: #cccccc;
    text-transform: uppercase;
    clear: both;
    display: block;
    font-weight: bold; }
  .details-sec .details-img img {
    width: 100%; }
  .details-sec .contact {
    font-size: 15px;
    margin-top: 20px;
    color: #cccccc;
    text-transform: uppercase;
    font-weight: bold; }

#map {
  height: 400px;
  width: 100%; }

.title-similar {
  text-align: center;
  color: #cccccc;
  text-transform: uppercase; }

.reward {
  padding: 25px 0;
  display: block; }
  .reward h3 {
    color: #2084bc;
    text-align: center;
    margin: 0 0 25px 0;
    text-transform: uppercase; }

.q-contact {
  background: #FF9800;
  padding: 35px 0;
  color: #ffffff; }

#footer {
  background: #333333;
  padding: 50px 0; }
  #footer p {
    font-size: 13px;
    color: #cccccc; }
  #footer h3 {
    font-size: 18px;
    color: #ffffff !important;
    padding: 15px 0; }
  #footer ul {
    margin: 0;
    padding: 0; }
    #footer ul li {
      list-style: none; }
      #footer ul li a {
        font-size: 13px;
        color: #cccccc !important; }

.share-this-item h4 {
  font-size: 16px;
  color: #cccccc;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: bold; }

ul.social-link {
  margin: 0;
  padding: 0; }
  ul.social-link li {
    list-style: none;
    float: left;
    color: #cccccc; }
    ul.social-link li a {
      padding-right: 10px; }

.report {
  margin: 50px 0; }

.footer-bottom {
  background: #222222;
  padding: 10px 0; }
  .footer-bottom p {
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    color: #cccccc !important; }
    .footer-bottom p a {
      color: #cccccc !important; }

.add-1s {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.add-2s {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.add-3s {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.add-4s {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.add-5s {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s; }

/* Carousel */
.blog-list {
  background: #eee;
  padding: 15px;
  margin-bottom: 15px; }
  .blog-list img {
    width: 100%; }

.blog-right h4 {
  background: #01579B;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 15px; }

.blog-right .recent-blog {
  background: #eee;
  padding: 5px;
  margin-bottom: 10px; }
  .blog-right .recent-blog img {
    float: left;
    width: 96px;
    margin-right: 10px; }
  .blog-right .recent-blog a {
    color: #01579B; }

    .nuhash img{
      width: 100%;
      margin-top: 15px;
      border-radius: 6px;
    }
    .header-bottom{
      background: #eee;
      padding: 15px;
    }
    .card img{
      width: 100%;
    }
    .card p{
      font-size: 14px;
    }
    .hol-line {
      background: rgba(239, 108, 0, 0.7);
      padding: 15px;
      margin: 0;
      border-radius: 4px;
      box-shadow: 1px 4px 10px #000;
      color: #fff;
      text-align: center;
      -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
  }
  .hol-line:hover {
    background: #EF6C00;
    -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
  }
  .hol-line h2{
    margin: 0px;
    padding: 0px;
    font-size: 22px;
  }
  .hol-line img{
    width: 100px;
  }